<div class="main-container">
  <div class="details">
    <div class="header">
      <h3>פרטי ספק נבחר:</h3>
      <div *ngIf="selectedSupplier">
        <button *ngIf="managerMode" (click)="toggleEditMode()">
          {{ isEditing ? 'שמור' : 'ערוך' }}
        </button>
      </div>


    </div>
    <div *ngIf="selectedSupplier">
      <p>
        <strong>קוד מיון:</strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.sortGroup }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.sortGroup" (input)="validateField('sortGroup')"
            [ngClass]="{ 'input-error': fieldErrors.sortGroup }">
          <div class="field-error" *ngIf="fieldErrors.sortGroup">{{ fieldErrors.sortGroup }}</div>
        </ng-container>
      </p>


      <p>
        <strong>מפתח חשבון:</strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.accountKey }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.accountKey" (input)="validateField('accountKey')"
            [ngClass]="{ 'input-error': fieldErrors.accountKey }">
          <div class="field-error" *ngIf="fieldErrors.accountKey">{{ fieldErrors.accountKey }}</div>
        </ng-container>
      </p>

      <p>
        <strong>שם ספק: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.fullName }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.fullName">
      </p>
      <p>
        <strong>מספר עוסק מורשה: </strong>
        <span>{{ selectedSupplier.taxFileNum }}</span>
      </p>
      <p>
        <strong>בנק: </strong>
        <span *ngIf="!isEditing">
          {{ getBankNameById(selectedSupplier.bankNumber) }} ({{ selectedSupplier.bankNumber }})
        </span>

        <ng-container *ngIf="isEditing">
          <select class="simple-bank-select" [(ngModel)]="editingSupplier!.bankNumber">
            <option value="" disabled selected hidden>בחר בנק</option>
            <option *ngFor="let bank of bankList" [value]="bank.id">
              {{ bank.name }} ({{ bank.id }})
            </option>

          </select>

        </ng-container>
      </p>

      <p>
        <strong>מספר סניף:</strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.branchNumber }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.branchNumber" (input)="validateBranchNumber()"
            [ngClass]="{ 'input-error': fieldErrors.branchNumber }" />
          <div class="field-error" *ngIf="fieldErrors.branchNumber">
            {{ fieldErrors.branchNumber }}
          </div>
        </ng-container>
      </p>

      <p>
        <strong>מספר חשבון: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.accountNumber }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.accountNumber" (input)="validateAccountNumber()"
            [ngClass]="{ 'input-error': fieldErrors.branchNumber }" />
          <div class="field-error" *ngIf="fieldErrors.accountNumber">
            {{ fieldErrors.accountNumber }}
          </div>
        </ng-container>
      </p>


      <p>
        <strong>כתובת: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.address }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.address">
      </p>
      <p>
        <strong>עיר: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.city }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.city">
      </p>
      <p>
        <strong>פלאפון: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.phone }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.phone" (input)="validatePhone()"
            [ngClass]="{ 'input-error': fieldErrors.phone }" />
          <div class="field-error" *ngIf="fieldErrors.phone">
            {{ fieldErrors.phone }}
          </div>
        </ng-container>
      </p>

      <p>
        <strong>מייל: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.email }}</span>
        <ng-container *ngIf="isEditing">
          <input [(ngModel)]="editingSupplier!.email" (input)="validateEmail()"
            [ngClass]="{ 'input-error': fieldErrors.email }" />
          <div class="field-error" *ngIf="fieldErrors.email">
            {{ fieldErrors.email }}
          </div>
        </ng-container>
      </p>

      <p>
        <strong>תוקף ניכוי במקור: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.DateHoldingTaxEffect }}</span>
        <ng-container *ngIf="isEditing">
          <input type="date" [(ngModel)]="editingSupplier!.DateHoldingTaxEffect" />
        </ng-container>
      </p>

      <p><strong>אחוזי ניכוי: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.DeductionPercentage }}</span>
        <ng-container *ngIf="isEditing">
          <input type="number" min="0" max="100" [(ngModel)]="editingSupplier!.DeductionPercentage"
            (input)="validateDeductionPercentage()" [ngClass]="{ 'input-error': fieldErrors.DeductionPercentage }" />
          <div class="field-error" *ngIf="fieldErrors.DeductionPercentage">
            {{ fieldErrors.DeductionPercentage }}
          </div>
        </ng-container>
      </p>

      <p><strong>תיק במס הכנסה: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.deductFile }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.deductFile">
      </p>
      <p><strong>שם הפרויקט: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.ProjectName }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.ProjectName">
      </p>
      <p>
        <strong>סוג התיק: </strong>
        <span *ngIf="!isEditing">
          {{ getTypeNameById(selectedSupplier.BagType) }}
        </span>

        <ng-container *ngIf="isEditing">
          <select class="simple-bank-select" [(ngModel)]="editingSupplier!.BagType">
            <option value="" disabled selected hidden>בחר סוג תיק</option>
            <option *ngFor="let type of typeList" [value]="type.id">
              {{ type.name }}
            </option>
          </select>
        </ng-container>
      </p>


      <p><strong>עיסוק:</strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.Occupation }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.Occupation">
      </p>
      <p><strong>איש קשר מטעם הספק: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.NameFromCompany }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.NameFromCompany">
      </p>
     <p>
  <strong>מייל איש קשר מטעם הספק: </strong>
  <span *ngIf="!isEditing">{{ selectedSupplier.mailFromCompany }}</span>
  <ng-container *ngIf="isEditing">
    <input [(ngModel)]="editingSupplier!.mailFromCompany" 
           (input)="validateMailFromCompany()"
           [ngClass]="{ 'input-error': fieldErrors.mailFromCompany }" />
    <div class="field-error" *ngIf="fieldErrors.mailFromCompany">
      {{ fieldErrors.mailFromCompany }}
    </div>
  </ng-container>
</p>

      <p><strong>איש קשר מטעם מרום: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.NameFromMarom }}</span>

        <ng-container *ngIf="isEditing">
          <select [(ngModel)]="editingSupplier!.NameFromMarom" (change)="onMaromContactChange($event)">
            <option value="" disabled selected hidden>בחר איש קשר</option>
            <option *ngFor="let contact of fromMaromList" [value]="contact.name">
              {{ contact.name }}
            </option>
          </select>

        </ng-container>
      </p>

      <p><strong>מייל איש קשר מטעם מרום: </strong>
        <span *ngIf="!isEditing">{{ selectedSupplier.mailFromMarom }}</span>
        <input *ngIf="isEditing" [(ngModel)]="editingSupplier!.mailFromMarom">
      </p>
    </div>
  </div>

  <div class="table-container">
    <div class="input-container">
      <div class="floating-label-container">
        <input class="styled-input" type="text" placeholder=" " (input)="filterData($event)">
        <label for="taxFileNum" class="floating-label"> הכנס טקסט לחיפוש</label>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>איש קשר מטעם הספק </th>
          <th>מייל</th>
          <th>פלאפון</th>
          <th>כתובת</th>
          <th>עיסוק</th>
          <th>מספר עוסק מורשה</th>
          <th>שם ספק</th>
          <th>מפתח חשבון</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of currentPageData; let i = index" (click)="selectSupplier(item)">
          <td>{{ item.NameFromCompany }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.Occupation }}</td>
          <td>{{ item.taxFileNum }}</td>
          <td>{{ item.fullName }}</td>
          <td>{{ item.accountKey }}</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">הבא</button>
      <span>עמוד {{ currentPage }}</span>
      <button (click)="previousPage()" [disabled]="currentPage === 1">הקודם</button>
    </div>
  </div>

</div>