<div class="task-container">
  <input [(ngModel)]="coordinatorId" placeholder="הכנס מזהה רכז" 
    (keydown.enter)="loadTasks()"/>

  <button (click)="loadTasks()">טען משימות פתוחות</button>

  <div *ngIf="loading">טוען...</div>

  <table *ngIf="tasks.length > 0">
    <thead>
      <tr>
        <th>כותרת</th>
        <th>תיאור</th>
        <th>קובץ</th>
<th (click)="sortByDate()" style="cursor: pointer;">
  תאריך יעד 
  <span *ngIf="sortDirection === 'asc'">⬆️</span>
  <span *ngIf="sortDirection === 'desc'">⬇️</span>
</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <ng-container *ngIf="isImage(task.linkOfDoument); else otherFile">
            <img [src]="task.linkOfDoument" class="thumbnail" (click)="openPreview(task)" alt="תמונה" />
          </ng-container>
          <ng-template #otherFile>
            <button (click)="openPreview(task)">📄 תצוגת קובץ</button>
          </ng-template>
        </td>
        <td>{{ toDate(task.createdAt) | date: 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>

<div *ngIf="!loading && tasks.length === 0 && hasLoadedOnce">אין משימות פתוחות</div>
</div>

<!-- תצוגה מוגדלת -->
<div class="overlay" *ngIf="previewFile" (click)="closePreview()">
  <div class="preview-box" (click)="$event.stopPropagation()">
    <img *ngIf="isImage(previewFile.fileUrl)" [src]="previewFile.fileUrl" alt="תמונה" />
    <iframe *ngIf="isPdf(previewFile.fileUrl)" [src]="previewFile.fileUrl" width="500" height="600" frameborder="0"></iframe>
    <div *ngIf="isWordOrOther(previewFile.fileUrl)">
      <p>לא ניתן להציג את הקובץ כאן</p>
      <a [href]="previewFile.fileUrl" target="_blank">📥 הורד קובץ</a>
    </div>
    <div class="buttons">
      <button (click)="approve(previewFile)">✅ מאשר</button>
      <button (click)="reject(previewFile)">❌ לא מאשר</button>
    </div>
  </div>
</div>
