.upload-container {
  text-align: center;
  direction: rtl;
  font-family: 'Varela Round', sans-serif;
  width: 60%;
    margin: auto;
}

.upload-container h2 {
  margin-top: 20px;
  color: #85649B;
  margin-bottom: 30px;
  font-size: 26px;
}

.form-group {
  margin-bottom: 20px;
  text-align: right;
}

/* גריד דינאמי להצגת כרטיסיות בשורות */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* יכניס יותר בשורה */
  gap: 12px;
  justify-items: center;
}

@media (min-width: 600px) {
  .form-grid {
  grid-template-columns: repeat(3, 1fr); /* שלוש עמודות */
  }
}

/* כרטיסיית קובץ */
.file {
  width: 100%;
  max-width: 220px;
  max-height: 160px;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(128, 0, 128, 0.2);
  direction: rtl;

}

.file {
  border: 2px dashed #ddd;
  transition: 0.3s;
}

.file:hover {
  border-color: #85649B;
  background-color: #f9f5fc;
}

.file.drag-over {
  border-color: #5e2b8c;
  background-color: #f2e6f9;
  box-shadow: 0 0 0 3px rgba(134, 81, 172, 0.3);
}

.uploadIcon {
  position: relative;
  height: 30px;
}

.uploadIcon .addIcon {
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: auto;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
}

input[type="file"] {
  display: none;
}

.fileText {
  margin-top: 10px;
  font-size: 14px;
  color: #85649B;
}

.nqtup {
  position: relative;
  animation: 1.5s cubic-bezier(0.32, 0.11, 0.21, 0.81) 0s infinite iECmZH;
  box-sizing: border-box;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  border-width: 2.65px;
  border-style: solid;
  border-color: transparent transparent rgba(128, 0, 128, 0.2) rgba(128, 0, 128, 0.2);
  display: inline-block;
}

.btn-submit {
  margin-top: 20px;
  background-color: white;
  color: #85649B;
  border: 2px solid #85649B;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #85649B;
  color: white;
}

.btn-submit:disabled {
  background-color: #f2e6f2;
  color: #b280b2;
  border-color: #b280b2;
  cursor: not-allowed;
}

.file-link {
  margin-top: 5px;
}
.file-name {
  font-size: 12px;
  color: #000;
  margin-top: 5px;
  direction: ltr;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.file-link a {
  color: #007bff;
  text-decoration: underline;
  font-size: 0.9em;
}

.success {
  color: green;
  font-size: 0.9em;
}

.error {
  color: red;
  font-size: 0.9em;
}
button:hover {
  background-color: #b7a0c7;
}

.back-button-fixed {
  position: absolute;
  top: 130px;
  right: 20px;
  z-index: 1000;
}

.back-button {
  background-color: transparent;
  border: none;
    border-radius: 0.3em;

  cursor: pointer;
  padding: 0;
}





