<div class="body admin-code-page">
  <form *ngIf="!isAdmin" class="id-container" (ngSubmit)="checkId()">
 <div class="input-with-button">
  <!-- קלט + שגיאה -->
  <div class="custom-input-wrapper-with-error">
    <app-custom-input
      [data]="adminIdModel"
      [control]="adminIdControl"
      [tabindex]="1">
    </app-custom-input>

    <div *ngIf="isError" class="error">{{ error }}</div>
  </div>

  <!-- כפתור שליחה -->
  <button class="btn-submit"
          type="submit"
          [disabled]="adminIdControl.invalid"
          [ngClass]="{ 'btn-disabled': adminIdControl.invalid, 'btn-active': adminIdControl.valid }">
    <svg class="ok-btn" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.285 2.715a1.0001 1.0001 0 0 1 .121 1.41l-11 13a1.0001 1.0001 0 0 1-1.471.09l-7-6.999a1.0001 1.0001 0 1 1 1.414-1.414l6.293 6.293 10.293-12.292a1.0001 1.0001 0 0 1 1.41-.122z"/>
    </svg>
  </button>
</div>



  </form>


<!-- ממשק מנהל -->
<div *ngIf="isAdmin" class="admin-layout">
    <div class="content">
        <ng-container [ngSwitch]="currentComponent">
            <app-provider-table *ngSwitchCase="'suppliers'" [managerMode]="true"></app-provider-table>
            <app-issuance-demand *ngSwitchCase="'request'"></app-issuance-demand>
            <app-merge-expenses *ngSwitchCase="'merge'"></app-merge-expenses>
            <p *ngSwitchDefault>בחר פעולה מהצד</p>
        </ng-container>
    </div>
    
    <div class="sidebar">
      <button (click)="showComponent('suppliers')">הצגת ועריכת כל הספקים</button>
      <button (click)="showComponent('request')">הוצאת דרישה</button>
      <button (click)="showComponent('merge')">איחוד הוצאות</button>
    </div>
</div>
</div>
