.provider-details-form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 1em;
  border: 1px solid #85649B;
  border-radius: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.floating-label-container {
  position: relative;
  flex: 1;
  margin-right: 1em;
}

.child:last-child {
  margin-right: 0;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #85649B;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

button:hover {
  background-color: #b7a0c7;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev {
  text-align: right;
}

.next {
  text-align: left;
}

h3{
  color: #85649B;
}

.error{
  color: red;
  padding-right: 7em;
  padding-top: 8px;
  position: inherit;
  font-size: 15px;
  direction: rtl;
  max-width: 800px;
  margin: 0 auto;
}

.succses{
  color:#3bbd53;
  padding-right: 7em;
  padding-top: 8px;
  position: inherit;
  font-size: 15px;
  direction: rtl;
  max-width: 800px;
  margin: 0 auto;
}

.note{
  color:#85649B;
  position: inherit;
  font-size: 15px;
  padding-top: 5px;
  margin-right: 20px;
  direction: rtl;
  max-width: 800px;
  margin: 0 auto;
}

.forUnit{
  margin-right: -20px !important;
}
.back-button-fixed {
  position: absolute;
  top: 130px;      
  right: 20px;
}


.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

 
.material-icons {
  font-family: 'Material Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
}
.button-error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-direction: row-reverse; /* היפוך כיוון */
  gap: 10px;
}

.button-error-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.inline-error {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  direction: rtl;
  min-width: 250px;
  text-align: center;
}

.error-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}




