
<div class="back-button-fixed">
   <button class="back-button" type="button" (click)="goBack()" aria-label="חזור לעמוד הקודם">
     <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24" width="50" fill="#85649B">
       <path d="M0 0h24v24H0V0z" fill="none"/>
       <path d="M10 17l5-5-5-5v10z"/>
     </svg>
   </button>
 </div>
<div class="provider-details-form" *ngIf="myForm">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngIf="currentStep === 1">
      <h3> פרטי ספק</h3>
       <div class="input-group-with-line">
      <div class="row">
  <app-custom-input
    class="child"
    [class.invalid]="getFormControl('taxFileNum').invalid && getFormControl('taxFileNum').touched"
    [data]="taxFileNum"
    [control]="getFormControl('taxFileNum')">
  </app-custom-input>


  <app-custom-input
    class="child"
    [class.invalid]="getFormControl('inputNameModel').invalid && getFormControl('inputNameModel').touched"
    [data]="inputNameModel"
    [control]="getFormControl('inputNameModel')">
  </app-custom-input>
</div>
</div>


      <h3>פרטי עסק</h3>
      <div class="input-group-with-line">
      <div class="row">
        <app-custom-input class="child" [data]="inputCityModel"
          [control]="getFormControl('inputCityModel')" [options]="cities"></app-custom-input>
        <app-custom-input class="child" [data]="inputAddressModel"
          [control]="getFormControl('inputAddressModel')"></app-custom-input>
      </div>

      <div class="row">
        <app-custom-input class="child" [data]="inputEmailModel"
          [control]="getFormControl('inputEmailModel')"></app-custom-input>
        <app-custom-input class="child" [data]="inputPhoneModel"
          [control]="getFormControl('inputPhoneModel')"></app-custom-input>
      </div>
            </div>


      <h3>פרטי בנק</h3>
      <div class="row">
        <app-custom-input class="child" [data]="inputBankNumberModel" [control]="getFormControl('inputBankNumberModel')"
          [options]="bankList"></app-custom-input>
        <app-custom-input class="child" [data]="branchNumber"
          [control]="getFormControl('branchNumber')"></app-custom-input>
        <app-custom-input class="child" [data]="inputAccountNumberModel"
          [control]="getFormControl('inputAccountNumberModel')"></app-custom-input>
      </div>
<div class="button-error-row">
  <button type="button" class="next" (click)="nextStep()">המשך</button>

  <div class="inline-error" *ngIf="showErrorForm">
    ⚠️ יש למלא את כל השדות החובה ולתקן שדות שגויים לפני המשך
  </div>
</div>
    </div>

    <div *ngIf="currentStep === 2">
      <h3>פרטי פרויקט </h3>
      <div class="row">
        <app-custom-input [data]="inputOccupationModel"
          [control]="getFormControl('inputOccupationModel')"></app-custom-input>
        <div class="forUnit">
          <app-custom-input [data]="inputBagTypeModel" [options]="type"
            [control]="getFormControl('inputBagTypeModel')"></app-custom-input>
          <label class="note" *ngIf="isOptionSelected(1)">יש להביא חשבונית מס ולא חשבונית עסקה</label>
        </div>
        <app-custom-input [data]="inputProjectNameModel"
          [control]="getFormControl('inputProjectNameModel')"></app-custom-input>
      </div>
      <div class="row">
        <app-custom-input [data]="inputWithDateHoldingTaxEffectModel"
          [control]="getFormControl('inputWithDateHoldingTaxEffectModel')"></app-custom-input>
        <app-custom-input [data]="inputDeductionPercentageModel"
          [control]="getFormControl('inputDeductionPercentageModel')"></app-custom-input>
        <app-custom-input [data]="inputdeductFileModel"
          [control]="getFormControl('inputdeductFileModel')"></app-custom-input>
      </div>
      <div class="button-error-container">
  <button type="button" class="prev" (click)="prevStep()">חזור</button>

  <div class="error-wrapper">
    <div class="inline-error" *ngIf="showErrorForm">
      ⚠️ יש למלא את כל השדות החובה ולתקן שדות שגויים לפני המשך
    </div>
  </div>

  <button type="button" class="next" (click)="nextStep()">המשך</button>
</div>

    </div>
 <!-- *ngIf="getFormControl('inputBagTypeModel').value ==='עוסק מורשה'" -->
    <div *ngIf="currentStep === 3">
      <h3> יצירת קשר ואישורים</h3>
      <div class="row">
        <app-custom-input [data]="inputMailFromCompanyModel"
          [control]="getFormControl('inputMailFromCompanyModel')"></app-custom-input>
        <app-custom-input [data]="inputNameFromCompanyModel"
          [control]="getFormControl('inputNameFromCompanyModel')"></app-custom-input>
      </div>
      <div class="row">
        <app-custom-input [data]="inputMailFromMaromModel"
          [control]="getFormControl('inputMailFromMaromModel')" ></app-custom-input>
        <app-custom-input [data]="inputNameFromMaromModel" (change)="onOwnerChange($event)"
        [options]="fromMaromList" [control]="getFormControl('inputNameFromMaromModel')"></app-custom-input>
      </div>
      <div class="button-error-container">
  <button type="button" class="prev" (click)="prevStep()">חזור</button>

  <div class="error-wrapper">
    <div class="inline-error" *ngIf="showErrorForm">
      ⚠️ יש למלא את כל השדות החובה ולתקן שדות שגויים לפני המשך
    </div>
  </div>

  <button type="submit">
    {{ isEditMode ? 'עדכן ספק' : 'שמור ספק ועבור להכנסת טפסים' }}
  </button>
</div>

    </div>
  </form>
</div>
<div class="succses" *ngIf="showSuccsesForm">
  {{ mode === 'edit' ? 'נתוניך נקלטו בהצלחה' : 'נתוניך נקלטו בהצלחה, הנך מועבר להעלאת מסמכים' }}
</div>
<div *ngIf="!myForm" class="loading-spinner">
  <app-spinner></app-spinner>
</div>